<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipping Details</title>
    <style type="text/css">
        .head
        {
            color: blue;
            height: 120px;
            width: 1360px;
            background-color: rgb(6,41,93);
            border:solid 1px black;
        }
        .f1
        {
            margin-top: 40px;
            margin-left: 400px;
            height : 550px;
            width :600px;
            border:solid 1px rgb(6,41,93);
            border-radius: 50px;
        }
    </style>
    <link rel="stylesheet" href="/styles/styles.css"> <!-- Link to external CSS if needed -->
    <script defer src="/scripts/shippingForm.js"></script> <!-- Link to the new client-side JS -->
</head>
<body>
    <div class="head"><center><h1 style="color: white;font-size: 60px;">M K A R T</h1></center></div>
    <form id="shipping-form"> 
            <div class="f1">
            <center><h1>Shipping Details</h1></center>
        <div style="margin-top:30px;margin-left:40px;font-size:21px;">
            <label for="first-name">First Name:</label>
            <input type="text" id="first-name" required style="width:350px;height:25px;border-radius:5px;">
        </div>
        
        <div style="margin-top:30px;margin-left:41px;font-size:21px;">
            <label for="last-name">Last Name:</label>
            <input type="text" id="last-name" required style="width:350px;height:25px;border-radius:5px;">
        </div>
        
        <div style="margin-top:30px;margin-left:50px;font-size:21px;">
            <label for="mobile">Phone.No:</label>
            <input type="tel" id="mobile" pattern="[0-9]{10}" required style="width:350px;height:25px;border-radius:5px;"placeholder="+91">
        </div>
        
        <div style="margin-top:30px;margin-left:55px;font-size:21px;">
            <label for="pin-code">Pin Code:</label>
            <input type="text" id="pin-code" required style="width:350px;height:25px;border-radius:5px;" maxlength="6" minlength="6" pattern="[0-9]{6}" placeholder="Enter a valid 6-digit pin code.">
            
        </div>
        
        <div style="margin-top:30px;margin-left:90px;font-size:21px;">
            <label for="state">State:</label>
            <input type="text" id="state" required style="width:350px;height:25px;border-radius:5px;">
        </div>
        
        <div style="margin-top:30px;margin-left:67px;font-size:21px;">
            <label for="district">District:</label>
            <input type="text" id="district" required style="width:350px;height:25px;border-radius:5px;">
        </div>
        
        <div style="margin-top:30px;margin-left:62px;font-size:21px;">
            <label for="address">Address:</label>
            <input type="text" id="address" required placeholder=" [ Door No.]" style="width:350px;height:25px;border-radius:5px;">
        </div>
        <button type="submit" id="proceed-btn" disabled style="background-color:rgb(6,41,93);width:250px;font-size:22px;color:white;margin-left:180px;margin-top:20px;border-radius:10px;">Proceed</button>
            </div>
    </form>
</body>
</html>